<%= form_with(model: @blog, local: true, url: choose_new_or_edit) do |form| %>
  <% if @blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= @blog.errors.count %>件のエラーがあります。</h2>
      <ul>

      <% @blog.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="blog_title">
    <%= form.label :content %>
    <%= form.text_area :content, :size=>"100x5" %>
  </div>
  <div class="blog_title">
    <%= form.label :"画像" %>
    <%= form.file_field :image %>
  </div>
  <%= form.submit %>
<% end %>

<%= link_to "みんなの投稿一覧にもどる", blogs_path %><br>
<%= link_to "マイページに戻る", user_path(current_user.id) %>
