<h3>以下の内容で、送信しますか。公開される写真は、画面に収まる適切なサイズで表示されます。</h3>

<%= form_with(model: @blog, url: confirm_new_or_edit, method: confirm_form_method, local: true) do |form| %>
  <%= form.hidden_field :content %>
  <%= image_tag(@blog.image.url) if @blog.image && @blog.image.url %>
  <%= form.hidden_field :image_cache %>
  <p>本文：<%= @blog.content %></p>
  <%= form.submit "登録する" %>
  <%= form.submit "戻る", name: 'back' %>
<% end %>
