<h1>みんなの写真一覧</h1>
<p>ログインすると、コメント付きの詳細ページへアクセスでき、お気に入り登録ができます。</p>
<p><%= notice %></p>
<% @blogs.each do |blog| %>
■<%= link_to(blog.user.name, "/users/#{blog.user.id}") %><br>
<%= blog.created_at %><br>
<%= image_tag blog.image.url if blog.image? %><br>

<% if logged_in? %>
<%= link_to '詳細を確認する', blog_path(blog.id) %><br>
<% end %>
<hr width="800" noshade>
<% end %>
<% if logged_in? %>
  <%= link_to '新しくブログを投稿する', new_blog_path %>
<% end %>
