<header class="header clearfix">
  <h1><%= @user.name %>のマイページ</h1>
  ■自己紹介<br>
  <%= @user.profile_text%><br><br>
  <% if @user == current_user %>
  <%= link_to '写真をシェアしよう', new_blog_path %>　　
  <%= link_to 'プロフィール・自己紹介文編集', edit_user_path %>　　
  <%= link_to 'お気に入り一覧', "/users/#{@user.id}/favorites" %><br>
  <% end %>
  <%= image_tag @user.profile_image.url if @user.profile_image? %>
</header>
<br>

  <article class="contett">
    <div>
      <% @user.blogs.each do |blog| %>
      <div>
        <p><%= blog.user.name %></p>
        <p><%= blog.created_at %></p>
        <p><%= image_tag blog.image.url if blog.image? %> </p>
        <p><%= blog.content %></p><br>
        <% if logged_in? %>
        <%= link_to '詳細を確認する', blog_path(blog.id) %><br>
        <% end %>
        <hr width="800" noshade>
      </div>
      <% end %>
    </div>
  </article>
