<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
</head>
<body>
  <div class="container">
    <header class="header clearfix">
      <h1><%= @user.firstname %><%= @user.name %></h1>
      <%= @user.profile_text%>
      <% if @user == current_user %>
      <%= link_to 'その気持ち、シェアしよう', new_blog_path %>
      <% end %>
    </header>
    <div class="wrapper clearfix">
    <aside class="side_menu">
      自己紹介
    </aside>
    <div class="content">
      <div>
        <% @user.blogs.each do |blog| %>
        <div>
          <p><%= blog.user.firstname %><%= blog.user.name %></p>
          <p><%= blog.content %></p>
          <p><%= image_tag blog.image.url if blog.image? %></p>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</body>
</html>
